﻿@model Infraestucture.Models.Contacto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Persona.nombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombrePersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.descripcionProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.descripcionProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.nombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.nombreProveedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idPersona }) |
    @Html.ActionLink("Volver", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sweetalert")
}

