﻿
@model List<appSISUR.ViewModel.ViewModelPosicion>

<div class="table-responsive-sm">
    @*Accion, nombre de controlador*@

    <table class="table table-striped">
        <tr>
            <th>
                Ubicación
            </th>
            <th class="center">
                Cantidad
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Ubicacion.idUbicacion)
                    @Html.DisplayFor(modelItem => item.Ubicacion.descUbicacion)
                </td>
                <td class="center" style="width:1.5em">
                    @Html.EditorFor(modelItem => item.cantidad, new { htmlAttributes = new { @class = "form-control changeCantidad", data_ubicacionId = item.Ubicacion.idUbicacion, onchange = "updateCantidad(this)" } })
                </td>



                <td>
                    @Ajax.ActionLink("Eliminar",//Texto para el usuario
                        "eliminarUbicacion",//Acción a llamar
                        "Producto",
                        new
                        {
                            idUbicacion = item.idUbicacion
                        },//Parámetros a enviar
                        new AjaxOptions
                        {
                            UpdateTargetId = "resultadoDetalle",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnComplete = "updateCantLibros()"
                        }, new { @class = "btn btn-primary" }
                        )

                </td>
            </tr>
        }

    </table>
</div>
