﻿
@model IEnumerable<Infraestucture.Models.Producto>
@foreach (var item in Model)
{
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.codProducto)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.descripcionProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.modeloProducto)
    </td>
    <td>
        @Ajax.ActionLink("Agregar a Carrito",//Texto para el usuario
                                              "agregarProducto",//Acción a llamar
                                              "Encabezado",
                                              new
                                              {
                                                  idProducto = item.idProducto
                                              },//Parámetros a enviar
                                              new AjaxOptions
                                              {
                                                  UpdateTargetId = "cantidadProducto",
                                                  InsertionMode = InsertionMode.Replace,
                                                  HttpMethod = "GET",
                                              }, new { @class = "btn btn-primary" }
                                              )
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.idProducto }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.idProducto }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.codProducto })
    </td>
</tr>
}
