﻿@model Infraestucture.Models.Producto

<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <a href=""><img src="~/Imagenes/logos/audi.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/chevrolet.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/honda.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/jaguar.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/kia.png" width="75px" height="50px" /></a>
       
    </div>
    </div>
    <div class="row">

        <div class="col">

            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col p-4 d-flex flex-column position-static">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <div style="align-self:center">
                            <h2 class="mb-0">@Html.DisplayFor(model => model.descripcionProducto) </h2>
                            <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.modeloProducto):</b> @Html.DisplayFor(model => model.modeloProducto)</div>


                            <p class="card-text mb-auto">
                                <b>@Html.DisplayNameFor(model => model.codProducto):</b> @Html.DisplayFor(model => model.codProducto)<br />
                                <b>@Html.DisplayNameFor(model => model.Marca.nombreMarca):</b> @Html.DisplayFor(model => model.Marca.nombreMarca)<br />
                                <b>@Html.DisplayNameFor(model => model.costo):</b> &cent; @Html.DisplayFor(model => model.costo)<br />
                                <b>@Html.DisplayNameFor(model => model.cantMaxima):</b> @Html.DisplayFor(model => model.cantMaxima)<br />
                                <b>@Html.DisplayNameFor(model => model.cantMinima):</b> @Html.DisplayFor(model => model.cantMinima)<br />
                                <b>@Html.DisplayNameFor(model => model.estado):</b> @Html.DisplayFor(model => model.estado)<br />
                            </p>
                            <div class="mb-1 text-muted">
                                <b>@Html.DisplayNameFor(model => model.Proveedor):</b>
                                <ul>
                                    @foreach (var c in Model.Proveedor)
                                    {
                                        <li>@c.nombreProveedor</li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                    </div>
                </div>
    </div>
    <hr />
    <footer class="col-sm-12 d-flex justify-content-center">
        <div style="align-self:center">
           
            <a href=""><img src="~/Imagenes/logos/mazda.png" width="75px" height="50px" /></a>
            <a href=""><img src="~/Imagenes/logos/nissan.jpg" width="75px" height="50px" /></a>
            <a href=""><img src="~/Imagenes/logos/subaru.jpg" width="75px" height="50px" /></a>
            <a href=""><img src="~/Imagenes/logos/toyota.jpg" width="75px" height="50px" /></a>
            <a href=""><img src="~/Imagenes/logos/ww.jpg" width="75px" height="50px" /></a>
        </div>
    </footer>
