﻿@model Infraestucture.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modeloProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modeloProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca.nombreMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.nombreMarca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor)

        </dt>
        <div>
            
            @foreach (var c in Model.Proveedor)
            {
            <li>@c.nombreProveedor</li>
            }
        </div>

       



    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProducto }) |
    @Html.ActionLink("Volver", "Index")
</p>
