﻿@model IEnumerable<Infraestucture.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #278E9B;
            color: white;
        }
</style>
<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <h2>Productos</h2>
    </div>
</div>
<p>
    @Html.ActionLink("Crear", "Create")
</p>


<div class="col-md-4">
    <div class="card my-3">
        <h5 class="card-header">Buscar </h5>

        @using (Ajax.BeginForm("buscarProductoxNombre", "Producto", new AjaxOptions
        {
            UpdateTargetId = "resultado",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            LoadingElementId = "ajaxLoader"
        }))
        {
            <div class="card-body">
                <div class="input-group">
                    @Html.TextBox("filtro", "", new { @class = "form-control", @placeholder = "Producto" })

                    <input type="image" alt="submit" value="" class="btn btn-default" src="~/Imagenes/search64x64.png" title="Buscar" />

                </div>
            </div>
        }

    </div>
</div>





<table id="customers">
    <thead>
        <tr>

            <th scope="col">
                @Html.DisplayNameFor(model => model.codProducto)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.descripcionProducto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.modeloProducto)
            </th>


            <th scope="col">Carrito</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody id="resultado">
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.codProducto)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.descripcionProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modeloProducto)
                </td>

                <td align="center">
                    @Ajax.ActionLink("Agregar a Carrito",//Texto para el usuario
                                                          "agregarProducto",//Acción a llamar
                                                          "Encabezado",
                                                          new
                                                          {
                                                              idProducto = item.idProducto
                                                          },//Parámetros a enviar
                                                          new AjaxOptions
                                                          {
                                                              UpdateTargetId = "cantidadProducto",
                                                              InsertionMode = InsertionMode.Replace,
                                                              HttpMethod = "GET",
                                                          }, new { @class = "btn btn-primary" }
                                                          )
                </td>



                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idProducto }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idProducto }) |
                    @* Detalle Ajax Modal *@
                    @Ajax.ActionLink("Details", "AjaxDetails",
                   new { id = item.idProducto },
                   new AjaxOptions
                        {
                       UpdateTargetId = "modal-body",
                       InsertionMode = InsertionMode.Replace,
                       OnComplete = "mostrarModal(" + item.idProducto + ")"
                   }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.codProducto })
                </td>
            </tr>
        }
    </tbody>
</table>



@* Modal *@
<input type="hidden" id="campoOculto" />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-12 d-flex justify-content-center">
                    <div style="align-self:center">
                        <h4 class="modal-title" id="myModalLabel">Detalle Producto</h4>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body" style="border-bottom-color: #278E9B">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@* Modal *@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
    function mostrarModal(id) {
        $("#campoOculto").val(id);
        //$("#myModal").attr('data-toggle', 'modal');
        $('#myModal').modal('show');
    }
    $(function () {
        var lista = @Html.Raw(Json.Encode(ViewBag.listaNombres));
        $("#filtro").autocomplete({
            source: lista
        });
    });
    </script>
}

