﻿@model IEnumerable<Infraestucture.Models.Proveedor>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idProveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idProveedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idProveedor })
        </td>
    </tr>
}
