﻿
@model Infraestucture.Models.Proveedor
<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <a href=""><img src="~/Imagenes/logos/audi.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/chevrolet.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/honda.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/jaguar.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/kia.png" width="75px" height="50px" /></a>

    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">

                <h2 class="mb-0">@Html.DisplayFor(model => model.nombreProveedor) </h2>
                <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.direccion):</b> @Html.DisplayFor(model => model.direccion)</div>


                <p class="card-text mb-auto">
                    <b>@Html.DisplayNameFor(model => model.codProveedor):</b> @Html.DisplayFor(model => model.codProveedor)<br />
                    <b>@Html.DisplayNameFor(model => model.pais):</b> @Html.DisplayFor(model => model.pais)<br />
                    <b>@Html.DisplayNameFor(model => model.estado):</b> @Html.DisplayFor(model => model.estado)<br />

                </p>

            </div>

        </div>
    </div>
</div>

<footer class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">

        <a href=""><img src="~/Imagenes/logos/mazda.png" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/nissan.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/subaru.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/toyota.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/ww.jpg" width="75px" height="50px" /></a>
    </div>
</footer>
