﻿@model IEnumerable<Infraestucture.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #278E9B;
            color: white;
        }
</style>
<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <h2>Proveedores</h2>
    </div>
</div>

<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Buscar Proveedor por nombre</h5>
        @using (Ajax.BeginForm("buscarProveedorxNombre", "Proveedor", new AjaxOptions
        {
            UpdateTargetId = "resultado",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            LoadingElementId = "ajaxLoader"
        }))
        {
            <div class="card-body">
                <div class="input-group">
                    @Html.TextBox("filtro", "", new { @class = "form-control", @placeholder = "Nombre Proveedor" })

                    <input type="image" alt="submit" value="" class="btn btn-default" src="~/Imagenes/search64x64.png"  title="Buscar" />

                </div>
            </div>
        }

    </div>
</div>
    <table id="customers">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombreProveedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pais)
                </th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="resultado">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreProveedor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pais)
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idProveedor }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idProveedor }) |
                        @* Detalle Ajax Modal *@
                        @Ajax.ActionLink("Details", "AjaxDetails",
                       new { id = item.idProveedor },
                       new AjaxOptions
                            {
                           UpdateTargetId = "modal-body",
                           InsertionMode = InsertionMode.Replace,
                           OnComplete = "mostrarModal(" + item.idProveedor + ")"
                       }, new { @class = "btn btn-primary" })

@Html.ActionLink("Eliminar", "Delete", new { id = item.idProveedor })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @* Modal *@
    <input type="hidden" id="campoOculto" />
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <div style="align-self:center">
                            <h4 class="modal-title" id="myModalLabel">Detalle Proveedor</h4>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    @* Modal *@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryajax")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/sweetalert")
        <script type="text/javascript">
    function mostrarModal(id) {
        $("#campoOculto").val(id);
        //$("#myModal").attr('data-toggle', 'modal');
        $('#myModal').modal('show');
    }
    $(function () {
        var lista = @Html.Raw(Json.Encode(ViewBag.listaNombres));
        $("#filtro").autocomplete({
            source: lista
        });
    });
        </script>
    }

