﻿


<div class="card mb-3">
    <h3 class="card-header" style="color:#D4AC0D">Ultra Repuestos SISUR</h3>
    <div class="card-body">
        <h5 class="card-title">¿Quienes somos?</h5>

    </div>
    <img src="../Imagenes/logoSisur.PNG" width="40%" height="220" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em"> </text>
    </img>
    <div class="card-body">
        <p class="card-text">
            “Ultra Repuestos” es un negocio que se dedica a vender repuestos buena calidad y para
            todo tipo de marcas de autos y motos. También comercializa accesorios para decoración de
            vehículos, aditivos y líquidos en general para todo tipo de vehículos.
            Ofrecemos repuestos originales de fábrica que garantizan mayor calidad, durabilidad y
            rendimiento para vehículo a un excelente precio, también se brinda un excelente servicio al
            cliente con nuestros agentes al realizar su compra.
            Los repuestos que ofrecemos son para las marcas HYUNDAI, NISSAN, TOYOTA, CHEVROLET,
            KIA Y SUZUKI, YAMAHA, KAWASAKI, FREEDOM, HONDA..
            Vendemos toda clase de aceites, aditivos para el motor, baterías, sillas de seguridad, ceras,
            shampoos, kits de emergencia, luces de emergencia, chalecos reflectivos, halógenos, luces
            de xenon y bixenon, coberturas para la manivela, protectores de asientos, entre otros
            Todos estos servicios los podrás obtener en un mismo lugar y con una calidad de productos,
            buenos precios y con una excelente asesoría.
        </p>
    </div>
    <h6 class="card-subtitle text-muted" style="color: #212F3D">Información General</h6>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Correo: ultrasisur10@sisur.com</li>
        <li class="list-group-item">Ubicación: Alajuela,Villa Bonita, del Pali de Villa Bonita 75 mts sur </li>
        <li class="list-group-item">Teléfono: 84250734</li>
    </ul>
</div>
    <br />
    <br />
    <div class="card mb-3">
        <h3 class="card-header" style="color:#D4AC0D">Daniela Castillo Montano</h3>
        <div class="card-body">
            <h5 class="card-title">Adimistradora</h5>

        </div>
        <img src="../Imagenes/perfil.jpg" width="20%" height="210" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em"> </text>
        </img>
        <div class="card-body">
            <p class="card-text">
                Estudiante de la carrera Ingenería del Software y creador de la empresa de Ultra Repuestos SISUR,
                tambien administradora del sistema y encargada de la empresa junto con su compañero Braulio Álvarez González .
            </p>
        </div>
        <h6 class="card-subtitle text-muted" style="color:#D4AC0D">Información General</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cedula:702510609</li>
            <li class="list-group-item">Residencia: Alajuela,Villa Bonita </li>

        </ul>
    </div>
        <br />
        <br />
        <div class="card mb-3">
            <h3 class="card-header" style="color:#D4AC0D">Braulio Álvarez González</h3>
            <div class="card-body">
                <h5 class="card-title">Adimistrador</h5>

            </div>
            <img src="../Imagenes/perfilBraulio.jpg" width="20%" height="210" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em"> </text>
            </img>
            <div class="card-body">
                <p class="card-text">
                    Estudiante de la carrera Ingenería del Software y creador de la empresa de Ultra Repuestos SISUR,
                    también administrador del sistema y encargado de la empresa junto con su compañera Daniela Castillo Montano.
                </p>
            </div>
            <h6 class="card-subtitle text-muted" style="color: #212F3D">Información General</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cedula:112410043</li>
                <li class="list-group-item">Residencia: Alajuela,Itiquis </li>

            </ul>

        </div>

        
            <footer class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="copyright">
                                <p>
                                    Copyright ©
                                    <script>
                                        var CurrentYear = new Date().getFullYear()
                                        document.write(CurrentYear)
                                    </script>
                                    . Daniela Castillo - Braulio Álvarez González
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="top-to">
                    <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
                </div>
            </footer>



