﻿@{
    ViewBag.Title = "Repuestos SISUR prueba";

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="~/Scripts/chart-area-demo.js"></script>
<!--
<div class="jumbotron" style="background-image:url(../../Imagenes/logoSisur.PNG)" width="95%" height="100px">

    <p class="lead"></p>

</div>-->


<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Salidas de Mercaderia              
            </div>
            <div class="card-body"><canvas id="myAreaChartOut" width="100%" height="40"></canvas></div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Ingresos de mercaderia
            </div>
            <div class="card-body"><canvas id="myAreaChartIn" width="100%" height="40"></canvas></div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total de Productos en Inventario</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link"  @Html.ActionLink("Listado de Productos", "Index", "Producto") <p style="font-size:50px"> @ViewBag.total</p> </a>
                <div class="small text-white"><i class="fas fa-angle-right"> </i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Total de Ingresos</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#"><p style="font-size:50px">@ViewBag.totalIngresos</p></a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Total de Salidas</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#"> <p style="font-size:50px">@ViewBag.totalSalidas</p></a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Total de Usuarios</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#"><p style="font-size:50px">@ViewBag.totalUsuarios</p></a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
   
    @Scripts.Render("~/bundles/sweetalert")
}