﻿@model Infraestucture.Models.Persona

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}
@*<link href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/login.css">*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Temas-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
    body {
        font-size: 12px;
       
    }
       /**
    * se aplica el ancho, margen centrado
    * borde de un pixel con redondeado, y rellenado
    * a la izquierda y derecha
    */
    #Contenedor {
        width: 400px;
        margin: 50px auto;
        background-color: #F3EDED;
        border: 1px solid #ECE8E8;
        height: 400px;
        border-radius: 8px;
        padding: 0px 9px 0px 9px;
       
    }

       /**
    * Aplicando al icono de usuario el color de fondo,
    * rellenado de 20px y un redondeado de 120px en forma
    * de un circulo
    */
       .Icon span {
           background: #A8A6A6;
           padding: 20px;
           border-radius: 120px;
       }
       /**
    * Se aplica al contenedor madre un margen de tamaño 10px hacia la cabecera y pie,
    * color de fuente blanco,un tamaño de fuente 50px y texto centrado.
    */
       .Icon {
           margin-top: 10px;
           margin-bottom: 10px;
           color: #FFF;
           font-size: 50px;
           text-align: center;
       }
       /**
    * Se aplica al contenedor donde muestra en el pie
    * la opción de olvidaste tu contraseña?
    */
       .opcioncontra {
           text-align: center;
           margin-top: 20px;
           font-size: 14px;
       }
</style>


@using (Html.BeginForm("Login", "Login"))
{
    @Html.AntiForgeryToken()


    <br />
    <body>
        <div id="Contenedor">
            <div class="Icon">
                <!--Icono de usuario-->
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="ContentForm">
                <form name="FormEntrar">
                    <h2>Iniciar Sesión</h2>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<div class="form-group">
            @Html.LabelFor(model => model.email, "Correo Electrónico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contrasena, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-secondary" />
            </div>
        </div>*@
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                    <br>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(model => model.contrasena, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                    </div>
                    <br>
                    @*<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Ingresar</button>*@
                    <div class="col-sm-12 d-flex justify-content-center">
                        <div style="align-self:center">
                            <input type="image" alt="submit" value="" class="btn btn-default" src="~/Imagenes/ingresar.png" width="80" height="80" title="Guardar" />
                        </div>
                    </div>
                    <br />
                    <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>
                </form>
            </div>
</div>
</body>


}


@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/popper")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")


    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }

}