﻿@model Infraestucture.Models.Rol

<div class="row">

    <div class="col">

        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

            <div class="col p-4 d-flex flex-column position-static">

                <h2 class="mb-0">@Html.DisplayFor(model => model.descripcionRol) </h2>
                <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.estado):</b> @Html.DisplayFor(model => model.estado)</div>


               
                </div>
            </div>

       
    </div>
</div>

