﻿@model Infraestucture.Models.Rol

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idRol }) |
    @Html.ActionLink("Regresar", "Index")
</p>
