﻿@model IEnumerable<Infraestucture.Models.Rol>

@{
    ViewBag.Title = "Roles";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #278E9B;
            color: white;
        }
</style>
<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <h2>Roles</h2>
</div>
    </div>


        <table id="customers">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcionRol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.estado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcionRol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado) |
                                                
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.idRol }) |
                            @* @Html.ActionLink("Detalles", "Details", new { id = item.idRol }) |*@
                            @* Detalle Ajax Modal *@
                            @Ajax.ActionLink("Details", "AjaxDetails",
                           new { id = item.idRol },
                           new AjaxOptions
                                {
                               UpdateTargetId = "modal-body",
                               InsertionMode = InsertionMode.Replace,
                               OnComplete = "mostrarModal(" + item.idRol + ")"
                           }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idRol })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @* Modal *@
        <input type="hidden" id="campoOculto" />
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <div style="align-self:center">
                                <h4 class="modal-title" id="myModalLabel">Detalle Rol</h4>
                            </div>
                        </div>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                            <div id="modal-body" class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
        </div>
        @* Modal *@

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryajax")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/sweetalert")
            <script type="text/javascript">
    function mostrarModal(id) {
        $("#campoOculto").val(id);
        //$("#myModal").attr('data-toggle', 'modal');
        $('#myModal').modal('show');
                }
    
    $(function () {
        var lista = @Html.Raw(Json.Encode(ViewBag.listaNombres));
        $("#filtro").autocomplete({
            source: lista
        });
    });
            </script>
        }

