﻿@model IEnumerable<Infraestucture.Models.Persona>

@foreach (var item in Model)
{
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.nombrePersona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.direccionPersona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pais)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rol.descripcionRol)
    </td>

    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.idPersona }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.idPersona }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.idPersona })
    </td>
</tr>
}
