﻿@model Infraestucture.Models.Persona

<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <a href=""><img src="~/Imagenes/usuario.png" width="100px" height="100px" /></a>


    </div>
</div>
<div class="row">
    
    <div class="col">

        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

            <div class="col p-4 d-flex flex-column position-static">

                <h2 class="mb-0">@Html.DisplayFor(model => model.nombrePersona) </h2>
                <div class="mb-1 text-muted"><b>@Html.DisplayNameFor(model => model.codPersona):</b> @Html.DisplayFor(model => model.codPersona)</div>


                <p class="card-text mb-auto">
                    <b>@Html.DisplayNameFor(model => model.pais):</b> @Html.DisplayFor(model => model.pais)<br />
                    <b>@Html.DisplayNameFor(model => model.direccionPersona):</b> @Html.DisplayFor(model => model.direccionPersona)<br />
                    <b>@Html.DisplayNameFor(model => model.telefonoPersona):</b> @Html.DisplayFor(model => model.telefonoPersona)<br />
                    <b>@Html.DisplayNameFor(model => model.email):</b> @Html.DisplayFor(model => model.email)<br />
                    <b>@Html.DisplayNameFor(model => model.Rol.descripcionRol):</b> @Html.DisplayFor(model => model.Rol.descripcionRol)<br />
                   
                    <b>@Html.DisplayNameFor(model => model.Proveedor.nombreProveedor):</b> @Html.DisplayFor(model => model.Proveedor.nombreProveedor)<br />
                    <b>@Html.DisplayNameFor(model => model.estado):</b> @Html.DisplayFor(model => model.estado)<br />
                </p>
               
            </div>

        </div>
    </div>
</div>
<footer class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">

        <a href=""><img src="~/Imagenes/logos/mazda.png" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/nissan.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/subaru.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/toyota.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/ww.jpg" width="75px" height="50px" /></a>
    </div>
</footer>