﻿@model Infraestucture.Models.Persona

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <h2>Detalle usuario</h2>
        </div>
    </div>
        <div>
           
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.codPersona)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codPersona)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nombrePersona)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombrePersona)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.direccionPersona)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.direccionPersona)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.telefonoPersona)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefonoPersona)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.contrasena)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contrasena)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pais)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pais)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rol.descripcionRol)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rol.descripcionRol)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Proveedor.nombreProveedor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Proveedor.nombreProveedor)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.codPersona })
            @Html.ActionLink("Volver", "Index")
        </p>
        @section Scripts {
            @Scripts.Render("~/bundles/sweetalert")
        }
