﻿@model List<appSISUR.ViewModel.viewModelDetallePedido>

<div class="table-responsive-sm">
    @*Accion, nombre de controlador*@

    <table class="table table-striped">
        <tr>
            <th>
                Código de Producto
            </th>
            <th class="center">
                Nombre Producto
            </th>

            <th class="center">
                Cantidad
            </th>


            <th>Acción</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.codProducto)

                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Producto.descripcionProducto)

                </td>


                <td class="center" style="width:1.5em">
                    @Html.EditorFor(modelItem => item.cantidad, new { htmlAttributes = new { @class = "form-control changeCantidad", data_cantidad = item.Producto.codProducto, onchange = "updateCantidad(this)" } })
                </td>



                <td>
                    @Ajax.ActionLink("Eliminar",//Texto para el usuario
                        "eliminarProducto",//Acción a llamar
                        "Producto",
                        new
                        {
                            codProducto = item.codProducto
                        },//Parámetros a enviar
                        new AjaxOptions
                        {
                            UpdateTargetId = "resultadoDetalle",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnComplete = "updateCantLibros()"
                        }, new { @class = "btn btn-primary" }
                        )
                </td>

            </tr>
        }



    </table>
</div>
