﻿@model IEnumerable<Infraestucture.Models.encabezadoMovimiento>
@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.documento)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.fecha)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.movimientoTipo.nombreMovimiento)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.estado)
    </td>

    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.consMovimiento }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.consMovimiento }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.consMovimiento })
    </td>
</tr>

}