﻿
@model Infraestucture.Models.encabezadoMovimiento

<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <a href=""><img src="~/Imagenes/logoSisur.png" width="120px" height="120px" /></a>
       

    </div>
</div>

<div class="row">

    <div class="col">

        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

            <div class="col p-4 d-flex flex-column position-static">

                <h2 class="mb-0">@Html.DisplayFor(model => model.movimientoTipo.nombreMovimiento) </h2>



                <p class="card-text mb-auto">
                    <b>@Html.DisplayNameFor(model => model.idEmpleado):</b> @Html.DisplayFor(model => model.idEmpleado)<br />
                    <b>@Html.DisplayNameFor(model => model.fecha):</b> @Html.DisplayFor(model => model.fecha)<br />
                    <b>@Html.DisplayNameFor(model => model.documento):</b> @Html.DisplayFor(model => model.documento)<br />
                    <b>@Html.DisplayNameFor(model => model.Persona.nombrePersona):</b> @Html.DisplayFor(model => model.Persona.nombrePersona)<br />
                    <b>@Html.DisplayNameFor(model => model.Proveedor.nombreProveedor):</b> @Html.DisplayFor(model => model.Proveedor.nombreProveedor)<br />
                    <b>@Html.DisplayNameFor(model => model.estado):</b> @Html.DisplayFor(model => model.estado)<br />
                </p>

            </div>

        </div>
    </div>
</div>
<footer class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">

        <a href=""><img src="~/Imagenes/logos/mazda.png" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/nissan.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/subaru.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/toyota.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/ww.jpg" width="75px" height="50px" /></a>
    </div>
</footer>