﻿@model Infraestucture.Models.encabezadoMovimiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Encabezado Movimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movimientoTipo.nombreMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movimientoTipo.nombreMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.nombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombrePersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.nombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.nombreProveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.consMovimiento }) |
    @Html.ActionLink("Volver", "Index")
</p>
