﻿@model IEnumerable<Infraestucture.Models.Ubicacion>

@{
    ViewBag.Title = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #278E9B;
            color: white;
        }
</style>
<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <h2>Ubicaciones</h2>
</div>
    </div>
        <p>
            @Html.ActionLink("Crear", "Create")
        </p>

        <table id="customers">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.descUbicacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>Agregar</th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.descUbicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Ajax.ActionLink("Posición Producto",//Texto para el usuario
                                                              "agregarPosicion",//Acción a llamar
                                                              "Producto",
                                                              new
                                                              {
                                                                  idUbicacion = item.idUbicacion
                                                              },//Parámetros a enviar
                                                              new AjaxOptions
                                                              {
                                                                  UpdateTargetId = "cantidadUbicacion",
                                                                  InsertionMode = InsertionMode.Replace,
                                                                  HttpMethod = "GET",
                                                              }, new { @class = "btn btn-primary" }
                                                              )
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idUbicacion }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idUbicacion }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idUbicacion })
                    </td>
                </tr>
            }

        </table>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryajax")
        }
