﻿
@model Infraestucture.Models.posicion
<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <a href=""><img src="~/Imagenes/logoSisur.png" width="100px" height="100px" /></a>


    </div>
</div>
<div class="row">
 
    <div class="col">

        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

            <div class="col p-4 d-flex flex-column position-static">

                <h2 class="mb-0">@Html.DisplayFor(model => model.Producto.descripcionProducto) </h2>
               


                <p class="card-text mb-auto">
                   
                    <b>@Html.DisplayNameFor(model => model.Ubicacion.descUbicacion):</b> @Html.DisplayFor(model => model.Ubicacion.descUbicacion)<br />
                    <b>@Html.DisplayNameFor(model => model.cantidad):</b> @Html.DisplayFor(model => model.cantidad)<br />
                    <b>@Html.DisplayNameFor(model => model.Producto.costo):</b> &cent; @Html.DisplayFor(model => model.Producto.costo)<br />
                    <b>@Html.DisplayNameFor(model => model.Producto.Marca.nombreMarca):</b> @Html.DisplayFor(model => model.Producto.Marca.nombreMarca)<br />
                    <b>@Html.DisplayNameFor(model => model.estado):</b> @Html.DisplayFor(model => model.estado)<br />
                </p>
                <div class="mb-1 text-muted">
                    <b>@Html.DisplayNameFor(model => model.Producto):</b>
                    <ul>
                        @foreach (var c in Model.Producto.Proveedor)
                        {
                            <li>@c.nombreProveedor</li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">

        <a href=""><img src="~/Imagenes/logos/mazda.png" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/nissan.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/subaru.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/toyota.jpg" width="75px" height="50px" /></a>
        <a href=""><img src="~/Imagenes/logos/ww.jpg" width="75px" height="50px" /></a>
    </div>
</footer>
