﻿@model IEnumerable<Infraestucture.Models.posicion>

@{
    ViewBag.Title = "IndexAdmin";
}

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #278E9B;
            color: white;
        }
</style>
<h2>Invetario General</h2>


<table id="customers">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.descripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion.descUbicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>Carrito</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Producto.descripcionProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ubicacion.descUbicacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cantidad)
    </td>


    <td align="center">
        @Ajax.ActionLink("Agregar a Carrito",//Texto para el usuario
                                              "agregarProducto",//Acción a llamar
                                              "Encabezado",
                                              new
                                              {
                                                  idProducto = item.Producto.idProducto,
                                                   idUbicacion = item.Ubicacion.idUbicacion
                                              },//Parámetros a enviar
                                              new AjaxOptions
                                              {
                                                  UpdateTargetId = "cantidadProducto",
                                                  InsertionMode = InsertionMode.Replace,
                                                  HttpMethod = "GET",
                                              }, new { @class = "btn btn-primary" }
                                              )
    </td>


    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.idUbicacion }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.idUbicacion }) |

        @* Detalle Ajax Modal *@
        @Ajax.ActionLink("Details", "AjaxDetails",
       new { id = item.idUbicacion },
       new AjaxOptions
            {
           UpdateTargetId = "modal-body",
           InsertionMode = InsertionMode.Replace,
           OnComplete = "mostrarModal(" + item.idUbicacion + ")"
       }, new { @class = "btn btn-primary" })

        @Html.ActionLink("Eliminar", "Delete", new { id = item.idUbicacion })
    </td>


</tr>
    }

</table>

@* Modal *@
<input type="hidden" id="campoOculto" />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Detalle Inventario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* Modal *@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sweetalert")
    <script type="text/javascript">
    function mostrarModal(id) {
        $("#campoOculto").val(id);
        //$("#myModal").attr('data-toggle', 'modal');
        $('#myModal').modal('show');
    }
    $(function () {
        var lista = @Html.Raw(Json.Encode(ViewBag.listaNombres));
        $("#filtro").autocomplete({
            source: lista
        });
    });
    </script>
}
