﻿@model IEnumerable<Infraestucture.Models.Marca>

@{
    ViewBag.Title = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #278E9B;
            color: white;
        }
</style>

<div class="col-sm-12 d-flex justify-content-center">
    <div style="align-self:center">
        <h2>Marcas</h2>
</div>
    </div>



        <table id="customers">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombreMarca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreMarca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idMarca }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idMarca }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idMarca })
                    </td>
                </tr>
            }

        </table>
        @section Scripts {
            @Scripts.Render("~/bundles/sweetalert")
        }
