﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sisur</title>
    <link href=" @Url.Content("~/Content/bootstrap-Sisur.css") " rel="stylesheet" type="text/css" />
    <link href=" @Url.Content("~/Content/css/stylesSisur2.css") " rel="stylesheet" type="text/css" />
    <link href=”//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” rel=”stylesheet”>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top col-sm-12 d-flex justify-content-center">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto">

                            <li class="nav-item">
                                <a class="nav-link" @Html.ActionLink("Principal", "Index", "Home")</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Movimientos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("Listar Movimientos", "Index", "Encabezado")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Agregar Movimiento", "Create", "Encabezado")</a>
                                    <!--  <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" @Html.ActionLink("Buscar Orden", "Index", "Encabezado")</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Productos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("Listado de Productos", "Index", "Producto")</a>

                                    <a class="dropdown-item" @Html.ActionLink("Agregar Producto Nuevo", "Create", "Producto")</a>

                                    <a class="dropdown-item" @Html.ActionLink("Productos Por Proveedor", "Details", "Producto")</a>

                                    <a class="dropdown-item" @Html.ActionLink("Buscar Producto", "Index", "Producto")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Ver Proveedores Por Producto", "Index", "Producto")</a>
                                    <!--  <div class="dropdown-divider"></div>-->

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Inventario
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("Listar Inventario", "IndexAdmin", "Posicion")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Buscar Movimiento", "Index", "Posicion")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Consulta Existencias", "Index", "Posicion")</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" @Html.ActionLink("Recibir Producto", "Index", "Producto")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Trasladar Producto", "Index", "Producto")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Devolución", "Index", "Producto")</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Proveedores
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("Listar Proveedores", "Index", "Proveedor")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Buscar Proveedor", "Index", "Proveedor")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Editar Proveedor", "Edit", "Proveedor")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Registrar Proveedor", "Create", "Proveedor")</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Personas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("Listar Personas", "Index", "Persona")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Agregar Persona", "Create", "Persona")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Editar Persona", "Edit", "Persona")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Eliminar Persona", "Index", "Persona")</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mantenimientos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("Marcas", "Index", "Marca")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Roles", "Index", "Rol")</a>
                                    <!--  <div class="dropdown-divider"></div>-->
                                    <a class="dropdown-item" @Html.ActionLink("Tipos de Movimientos", "Index", "Movimiento")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Ubicaciones", "Index", "Ubicacion")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Posiciones", "Create", "Posicion")</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ingresos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" @Html.ActionLink("Listar", "Index", "Posicion")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Crear Nuevo", "Create", "Posicion")</a>
                                    <a class="dropdown-item" @Html.ActionLink("Editar", "Edit", "Contacto")</a>

                                </div>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" @Html.ActionLink("Acerca de", "About", "Home")</a>
                            </li>
                            @* Detalle y link Orden *@
                            <li class="nav-item" id="cantidadProducto">
                                @Html.Partial("_ProductoCantidad")
                            </li>
                            @* Detalle y link Orden *@
                            <li class="nav-item" id="cantidadUbicacion">
                                @Html.Partial("_ubicacionCantidad")
                            </li>
                            @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sesión
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" @Html.ActionLink("Nuevo", "Index", "Encabezado")</a>
                <a class="dropdown-item" @Html.ActionLink("Editar", "Index", "Encabezado")</a>
                <a class="dropdown-item" @Html.ActionLink("Salir", "Index", "Encabezado")</a>
            </div>
        </li>*@

                            @* Información usuario *@
                            @{
                                string nombre = "";
                                int idPersona = 0;
                                Infraestucture.Models.Persona oUsuario;
                                //Validar si existe en la sesión
                                if (Session["User"] != null)
                                {
                                    oUsuario = (Infraestucture.Models.Persona)Session["User"];
                                    if (oUsuario != null)
                                    {
                                        nombre = $"{oUsuario.nombrePersona}";
                                        idPersona = oUsuario.codPersona;
                                    }
                                }
                            }
                            <li class="nav-item dropdown ">
                                <a class=" btn btn-primary nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@idPersona</a>

                                <div class="dropdown-menu">
                                    @if (Session["User"] != null)
                                    {
                                        <div class="dropdown-item">
                                            @* Nombre Usuario *@
                                            Usuario: @nombre
                                        </div>
                                    }

                                    <div class="dropdown-divider"></div>
                                    @if (Session["User"] == null)
                                    {
                                        @Html.ActionLink("Login", "Index", "Login", null, new { @class = "dropdown-item" })
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                        </svg>
                                        @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "dropdown-item " })
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_Menu");
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="col-sm-12 d-flex justify-content-center">
            <div style="align-self:center">
                <a href=""><img src="~/Imagenes/logos/audi.jpg" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/chevrolet.jpg" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/honda.jpg" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/jaguar.jpg" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/kia.png" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/mazda.png" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/nissan.jpg" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/subaru.jpg" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/toyota.jpg" width="75px" height="50px" /></a>
                <a href=""><img src="~/Imagenes/logos/ww.jpg" width="75px" height="50px" /></a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
</body>


</html>
