﻿
@{ int cantidadProducto = appSISUR.ViewModel.detallePedido.Instancia.GetCountItems();}

<a href="@Url.Action("Create", "Encabezado")" class="nav-link">

    Productos <span class="badge badge-dark">   @cantidadProducto</span>
</a>

@if (@ViewBag.NotiCarrito != null)
{
    <script>
            @Html.Raw(@ViewBag.NotiCarrito);
    </script>
}
