﻿@{ int cantidadUbicacion = appSISUR.ViewModel.PosicionProducto.Instancia.GetCountItems();}

<a href="@Url.Action("Create", "Posicion")" class="nav-link">
  
        Ubicaciones <span class="badge badge-dark">   @cantidadUbicacion</span>
    </a>

    @if (@ViewBag.NotiCarrito != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotiCarrito);
        </script>
    }

